FLASK_APP=auth-simple
FLASK_ENV=development
FLASK_DEBUG=1
FLASK_APP_SECRET=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=test
DB_USERNAME=root
DB_PASSWORD=root

AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_REGION_NAME=eu-west-1
DYNAMODB_ENDPOINT_URL=http://localhost:8000
DYNAMODB_TABLE_ACCESS_TOKEN=x_user_access_token
DYNAMODB_TABLE_REFRESH_TOKEN=x_user_refresh_token
JWT_SECRET=dummy
ACCESS_TOKEN_EXPIRE_IN_MINUTE=17
REFRESH_TOKEN_EXPIRE_IN_MINUTE=61